* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-image: url(img/nejc-soklic-yZ6MnFo5hX0-unsplash.jpg);
    background-size: cover;
  }

  .container-general {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

  .container {
    
    font-size: 16px;
    background-color: #dffff9;
    width: 90vw;
    max-width: 34em;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 1em 1em 2em black;
    margin-top: 2em;
    margin-bottom: 2em;
  }
  
  .ranking-container {
    
    font-size: 16px;
    background-color: #dffff9;
    width: 90vw;
    max-width: 34em;
    padding: 1em;
    border-radius: 0.6em;
    text-align: center;
    margin-top: 2em; 
    margin-bottom: 2em; 
    box-shadow: 1em 1em 2em black;
  }
  .startContainer {
   
    font-size: 16px;
    background-color: #dffff9;
    width: 90vw;
    max-width: 34em;
    padding: 1em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
    text-align: center;
    margin-top: 2em; 
    margin-bottom: 2em;
    box-shadow: 1em 1em 2em black;
  }
  #options-container {
    text-align: center;
  }
  #options-container div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2em 0 2.4em 0;
  }
  #options-container button {
    padding: 0.6em 1.2em;
    border: 1px solid #005693;
    background-color: #ffffff;
    color: #000000;
    border-radius: 0.3em;
    text-transform: capitalize;
  }
  #options-container button:disabled {
    border: 1px solid #005693;
    color: #808080;
    background-color: #dffff9;
  }
  #options-container button.active {
    background-color: #31f4d0;
    color: #000000;
  }
  .letter-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.6em;
  }
  #letter-container button {
    height: 2.4em;
    width: 2.4em;
    border-radius: 0.3em;
    background-color: #e3ffdf;
    
  }
  
  .new-game-popup {
    background-color: #dffff9;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0.6em;
    margin-bottom: 10%;
  }
  
  #user-input-section {
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    margin: 0.6em 0 1.2em 0;
  }
  canvas {
    display: block;
    margin: auto;
    
  }
  .hide {
    display: none;
  }

.result-container {
  
  font-size: 1.5em;
  background-color: #dffff9;
  padding: 1em;
  border-radius: 0.6em;
  text-align: center;
  margin-top: 1em; 
  margin-bottom: 1em; 
  box-shadow: 1em 1em 2em black;
}

  #result-text {
    display: none;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  #result-text h2 {
    font-size: 1.8em;
    text-align: center;
  }
  #result-text p {
    font-size: 1.25em;
    margin: 1em 0 2em 0;
  }
  #result-text span {
    font-weight: 600;
  }
  #new-game-button {
    font-size: 1.25em;
    padding: 0.5em 1em;
    background-color: #31f4c7;
    border: 1px solid #005693;
    color: #000000;
    border-radius: 0.2em;
    
  }
  .win-msg {
    color: #39d78d;
  }
  .lose-msg {
    color: #fe5152;
  }

  .startButton {
    font-size: 1.25em;
    padding: 0.3em 1em;
    background-color: #31f4c7;
    border: 1px solid #005693;
    color: #000000;
    border-radius: 0.2em;
    margin-top: 1em;
    
  }

  .ranking-title {
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1em 1em 1em rgb(43, 255, 198);
  }

